h3 {
  width: 587px;
  background-color: black;
  color: gray;
  font-family: helvetica;
  font-size: 26px;
  padding-left: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-top: 0px;
  margin-bottom: 10px;
}

h2 {
  text-align: center;
  font-family: helvetica;
  margin-bottom: 0px;
  color: gray;
}

mark {
  background-color: inherit;
  color: white;
}

b {
  font-weight: normal;
  color: #0000FF;
}

em {
  font-family: monospace;
  font-size: 26px;
  font-style: normal;
  color: blue;
}

button {
  width: 120px;
  height: 30px;
  margin: auto;
  margin-top: 10px;
}

#stage {
  width: 600px;
  height: auto;
  margin: auto;
}

#title {
  width: 600px;
  height: 30px;
  border: 1px solid black;
  margin: 0px;
}

#questionsAndAnswers {
  width: auto;
  height: auto;
  font-size: 24px;
  margin: 8px;
}

#input {
  width: 600px;
  height: 20px;
  border: 1px solid black;
  font-family: monospace;
  font-size: 22px;
  color: #0000FF;
  margin-top: 10px;
  padding: 3px;
}

.answers {
  display: none;
}

#question1 { display: none; }
#question2 { display: none; }
#question3 { display: none; }
#question4 { display: none; }
#question5 { display: none; }
#question6 { display: none; }
#question7 { display: none; }
#question8 { display: none; }
#question9 { display: none; }
#question10 { display: none; }
#question11 { display: none; }
#question12 { display: none; }
#question13 { display: none; }
#question14 { display: none; }
#question15 { display: none; }
#question16 { display: none; }
#question17 { display: none; }
#question18 { display: none; }
#question19 { display: none; }
#question20 { display: none; }
